<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge centered header">PAGE NOT FOUND</div>
    <a class="ui blue basic button" href="/blogs">Go back to Home Page</a>
</div>
<% include ./partials/footer %>